<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2008 Squad</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Main Heading-->
    <a href="/" id="home-link">
        <h1>MANCHESTER UNITED</h1>
    </a>
</head>

<body>
    <!--Module Heading-->
    <h1 id="squad-heading">2008 UCL Squad</h1>

    <!-- Container for flex display -->
    <div class="squad-container">
        <img id="squad-img" src="/img/2008-squad-2.jpg" alt="2008 Squad">

        <p>The 2008 Manchester United squad, managed by Sir Alex Ferguson, achieved great success by winning the UEFA
            Champions League.</p>

        <p>Key players in the squad included Cristiano Ronaldo, Wayne Rooney, Ryan Giggs, and many others. The team
            displayed exceptional
            skill and determination throughout the season, culminating in victory in the Champions League final against
            Chelsea.
            <br>This iconic squad is remembered as one of the best in Manchester United's history, achieving a historic
            double by also winning the
            Premier League that season.
        </p>

        <img id="squad-img" src="/img/2008-squad-1.jpg" alt="2008 Squad UCL Finals">
    </div>
</body>
<!-- Footer to navigate to Home page -->
<footer>
    <hr>
    <p class="back-to-home"><a href="/">Back to Home</a></p>
</footer>

</html>