<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man United</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Main Heading-->
    <a href="/" id="home-link">
        <h1>MANCHESTER UNITED</h1>
    </a>

</head>

<body>
    <!--Module Heading-->
    <h1 id="module_heading">2008's Man United</h1>

    <!-- Container for card display -->
    <div class="container">
        <!-- 1 Card: -->
        <div class="sir-Alex">
            <a class="label" href="/sir-alex">
                <img id="sir-alex-img" src="/img/sir-alex-body.jpg" alt="Sir Alex Ferguson">
                Learn about Sir Alex</a>
        </div>

        <!-- 2 Card: -->
        <div class="Squad">
            <a class="label" href="/2008-squad">
                <img id="squad-img" src="/img/2008-squad-3.jpg" alt="2008 Squad">
                Explore the 2008 Squad</a>
        </div>
    </div>

</body>

</html>