<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sir Alex</title>
    <link rel="stylesheet" href="/css/style.css">

        <!-- Main Heading-->
        <a href="/" id="home-link">
            <h1>MANCHESTER UNITED</h1>
        </a>
</head>

<body>
    <!--Module Heading-->
    <h1 id="sir-alex-heading">Sir Alex Ferguson</h1>

    <!-- Container for flex display -->
    <div class="sir-alex-container">
        <img class="sir-alex-main-img" src="/img/sir-alex-main.jpg" alt="Sir Alex Ferguson">

        <p>Sir Alexander Chapman Ferguson, CBE (born 31 December 1941) is a Scottish former football manager and player.
            He managed Manchester United from 1986 to 2013 and is considered one of the greatest managers in football
            history.
            <br>
            During his tenure, Sir Alex led Manchester United to numerous domestic and international honors, including
            13 Premier League
            titles, 5 FA Cups, and 2 UEFA Champions League titles.
        </p>
    </div>
</body>
<!-- Footer to navigate to Home page -->
<footer>
    <hr>
    <p class="back-to-home"><a href="/">Back to Home</a></p>
</footer>

</html>